---
layout: page
title: Kim Young Chan
subtitle: 멈추지 말고 성장하자! | Embedded Software Programmer
bigimg:
  - /img/Home.jpg
  - /img/Home2.jpg
  - /img/Home3.jpg
  - /img/Home4.jpg
use-site-title: true
---

<div class ="test">
  <img src="/img/logo1.png" style="width:100%;min-width: 384px;max-width: 460px;">
  <br><br><font size="2"> </font>
  <table width="100%">
    <tr>
      <td>KETI_MixedReality</td>
      <td>2019</td>
      <td><a href="#">Private Git</a></td>
    </tr>
    <tr>
      <td>KETI_Neuromorphic</td>
      <td>2019</td>
      <td><a href="#">Private Git</a></td>
    </tr>
    <tr>
      <td>KAU_HyperLedger</td>
      <td>2019</td>
      <td><a href="https://github.com/KimYC1223/Hyperledger_PCtoRASP">REF</a></td>
    </tr>
    <tr>
      <td>KAU_H.W. Design</td>
      <td>2018</td>
      <td><a href="https://github.com/KimYC1223/KAU_HW_2018">REF</a></td>
    </tr>
    <tr>
      <td>KAU_Embedded</td>
      <td>2019</td>
      <td><a href="https://github.com/KimYC1223/KAU_EMBEDED_19">REF</a></td>
    </tr>
  </table>
</div>
<br>
<br>
<hr>
<img src="/img/logo2.png" style="width:100%;min-width: 384px;max-width: 460px;">
<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: site.date_format }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
