<div class="main">
  <div class="main-banner">
    <div class="content">
      <div class="overlay"></div>
      <div class="text-wrapper">
        <div class="sub-title">
          <span class="no-wrap"> 세상을 바꾸는 연구자가 되고 싶은 </span>
        </div>
        <div class="main-title">
          <span class="no-wrap">
            <a href="https://github.com/charlieppark/" target="_blank"
              >charlieppark</a
            >의
          </span>
          <span class="no-wrap"> 기술 블로그입니다. </span>
        </div>
        <br />
        <div class="description">
          더 나은 세상을 만드는 연구자가 되도록<br />
          늘 노력하겠습니다.
        </div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>Currently Under Migrating</div>
      </div>
    </div>
  </div>
</div>
