<div class="main">
    <div class="main-banner">
        <div class="content">
            <div class="overlay"></div>
            <div class="text-wrapper">
                <div class="sub-title">
                    <span class="no-wrap">
                        내일을 꿈꾸는 개발자,
                    </span>
                </div>
                <div class="main-title">
                    <span class="no-wrap">
                        <a href="https://github.com/KimYC1223/" target="_blank">KimYC1223</a>의
                    </span>
                    <span class="no-wrap">
                        개발 블로그입니다.
                    </span>
                </div>
                <br/>
                <div class="description">
                      하루하루 배워가는 내용들을 정리하고 공유합니다.<br />
                      오늘보다 더 뛰어난 개발자가 되기 위해 노력하고 있습니다!
                </div>
            </div>
        </div>
    </div>
</div>
