{% assign writer = site.data.members | where: 'id', page.writer | first %}
<div class="post-footer">
  <div class="member_card">
    <div class="thumbnail-container">
      <div class="thumbnail" id="MyThumbnail">
        {% assign thumbnail = site.static_files | where: 'basename', writer.id |
        first %}
        <img
          class="profile"
          src="https://raw.githubusercontent.com/charlieppark/charlieppark/master/profile_image.jpg"
        />

        <script>
          thumbnail = document.getElementById("MyThumbnail");
          thumbnail.addEventListener("click", () => {
            location.href = "https://github.com/charlieppark";
          });
        </script>
        <div class="emoji">
          <span>{{writer.emoji}}</span>
        </div>
      </div>
      <div class="name">{{writer.name}}</div>
    </div>
    <div class="description">
      <b>{{writer.comment}}</b><br />
      {{writer.greeting}}<br /><br />
      <b>Contact</b> :
      <a href="mailto:chanho.park@dankook.ac.kr">chanho.park@dankook.ac.kr</a
      ><br />
      <b>GitHub</b> :
      <a href="https://github.com/charlieppark"
        >https://github.com/charlieppark</a
      ><br />
    </div>
  </div>
</div>
