<td class="catalogue-item card">
  <a href="{{ page.url | prepend: site.baseurl }}" >
    <div class="img-wrap2">
      <img src="tech/{{page.date | date: '%y%m%d%H%M'}}/{{ page.image }}" class="catalogue-img"/>
    </div>
    <div class="catalogue-info transition">
      <h1 class="catalogue-title">
        {{ page.title }}
      </h1>
      <p class="catalogue-sub">
        {{ page.subtitle }}
      </p>
      <p class="catalogue-date">
        {{ page.date }}
      </p>
    </div>
  </a>
</td>
