{% assign writer = site.data.members | where: 'id', page.writer | first %}
<div class='post-footer'>
  <div class="member_card">
    <div class="thumbnail-container">
      <div class='thumbnail' id="MyThumbnail">
        {% assign thumbnail = site.static_files | where: 'basename', writer.id | first %}
        <img class='profile' src='https://avatars.githubusercontent.com/u/40852277'/>

          <script>
            thumbnail = document.getElementById('MyThumbnail')
            thumbnail.addEventListener('click', () => {
              location.href = "https://github.com/KimYC1223"
            })
          </script>
        <div class='emoji'>
          <span>{{writer.emoji}}</span>
        </div>
      </div>
      <div class='name'>{{writer.name}}</div>
    </div>
    <div class='description'>
      <b>{{writer.comment}}</b><br />
      {{writer.greeting}}<br /><br />
      <b>Contact</b> : <a href="mailto:kua_esc@naver.com">kau_esc@naver.com</a><br />
      <b>GitHub</b> : <a href="https://github.com/KimYC1223">https://github.com/KimYC1223</a><br />
      </div>
  </div>

</div>
