{% assign writer = site.data.members | where: 'id', KimYC1223 | first %}
<div class="side_bar_left">
  <div class="side_bar_thumbnail">
    <img
      class="side_bar_profileImage"
      id="side_bar_MyThumbnail"
      src="https://raw.githubusercontent.com/charlieppark/charlieppark/master/profile_image.jpg"
    />
    <script>
      thumbnail = document.getElementById("side_bar_MyThumbnail");
      thumbnail.addEventListener("click", () => {
        location.href = "https://github.com/charlieppark";
      });
    </script>
    <div class="side_bar_emoji">
      <span>{{writer.emoji}}</span>
    </div>
    <div class="side_bar_nickname">charlieppark</div>
    <div class="side_bar_name">박찬호</div>
    <div class="side_bar_work_en">
      Dankook University C&I Lab <br />Undergraduate Intern
    </div>
    <div class="side_bar_work_kr">
      KAIST Geometric AI Lab<br />
      Intern
    </div>
    <div class="side_bar_button" id="side_bar_enmail_1">
      <i class="far fa-envelope"></i> <span>chanho.park@dankook.ac.kr</span>
    </div>
    <div class="side_bar_button" id="side_bar_enmail_2">
      <i class="far fa-envelope"></i> <span>chanho0309@gmail.com</span>
    </div>
    <div class="side_bar_button" id="side_bar_github">
      <i class="fab fa-github-alt"></i> <span>GitHub Profile</span>
    </div>

    <script>
      side_bar_enmail_1 = document.getElementById("side_bar_enmail_1");
      side_bar_enmail_1.addEventListener("click", () => {
        location.href = "mailto:charlieppark@kaist.ac.kr";
      });

      side_bar_enmail_2 = document.getElementById("side_bar_enmail_2");
      side_bar_enmail_2.addEventListener("click", () => {
        location.href = "mailto:charlieppark98@gmail.com";
      });

      side_bar_github = document.getElementById("side_bar_github");
      side_bar_github.addEventListener("click", () => {
        location.href = "https://github.com/charlieppark";
      });
    </script>
  </div>
</div>
