.no-wrap {
  white-space: nowrap;
}

.overlay {
  background: url('/meta/page_bg.png');
  @media (max-width: 1800px) {
    background: url('/meta/page_bg2.png');
  }
  @media (max-width: $break-large) {
    background: url('/meta/page_bg.png');
  }

  background-repeat: no-repeat;
  background-position: left;
  @media (max-width: $break-small) {
    background-size: auto 250px;
  }

  @media (max-width: $break-medium) {
    background-size: auto 300px;
  }
}

.main-banner {
  @media (max-width: $break-small) {
    height: 150px !important;
  }
}

.about-banner {

}

.main-banner, .recruit-banner, .about-banner {
  left: 0;
  right: 0;
  height: 400px;
  font-family: 'Noto Sans KR', sans-serif;

  @media (max-width: $break-medium) {
    height: 300px;
  }

  @media (max-width: $break-small) {
    bottom: 0;
    height: 150px;
  }

  .text-wrapper {

    .main-title {
      font-size: 30px;
      font-weight: 700;
      @media (max-width: $break-large) {
        font-size: 23px;
        margin-top: 5px;
      }
      @media (max-width: $break-medium) {
        font-size: 22px;
      }
      @media (max-width: $break-small) {
        font-size: 23px;
        margin-top: 5px;
      }
    }

    .sub-title {
      font-size: 24px;
      font-weight: 700;
      @media (max-width: $break-large) {
        font-size: 20px;
      }
      @media (max-width: $break-medium) {
        font-size: 18px;
        font-weight: 700;
      }
      @media (max-width: $break-small) {
        font-size: 16px;
      }
    }

    .description {
      font-size: 19px;
      font-weight: 300;
      @media (max-width: 1800px) {
        font-size: 16px;
      }
      @media (max-width: $break-large) {
        font-size: 16px;
      }
      @media (max-width: $break-medium) {
        font-size: 15px;
      }
      @media (max-width: $break-small) {
        font-size: 14px;
      }
    }

    .highlight-text {
      color: $primary;
    }
  }
}

.main-banner {
  margin: -15px 0 -15px 0;
  @media (max-width: $break-small) {
    margin: 30px 0 30px 0;
  }

  .content {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 50%;
    transform: translateX(-50%);
    left:50%;

    @media (max-width: $break-large) {
      width: 100%;
    }

    img {
      margin: auto;
      min-height: 100%;
      object-fit: contain;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      @media (max-width: $break-small) {
        background: none;
        border-image : linear-gradient(90deg,#c4c5fe,#9166fc);
        border-image-slice: 1;
      }
    }

    .text-wrapper {
      position: absolute;
      text-align: right;
      transform: translateY(-50%);
      right: 10px;
      top: 50%;
      width: fit-content;
      padding: 0 20px;

      a {
        color: $primary;
        font-weight: bold;
      }

      @media (max-width: 1800px) {
        width: 340px;
        background-color: rgba(#cbcbcb, 0.4);
        padding: 10px;
        padding-right: 30px;
        padding-left:60px;
        border-radius: 5px;
      }

      @media (max-width: $break-large) {
        width: auto;
        background-color: rgba(#FFFFFF, 0);
        right: 65px;
      }

      @media (max-width: $break-medium) {
        width: 280px;
        background-color: rgba(#cbcbcb, 0.4);
        padding: 10px;
        padding-left: 40px;
        padding-right: 30px;
        border-radius: 5px;
        right: 95px;
      }


      @media (max-width: $break-small) {
        width: 100%;
        text-align: center;
        background-color: rgba(#FFFFFF, 0);
        transform: translate(-50%,-50%);
        left:50%;
      }
    }
  }
}

.recruit-banner {
  .content {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;

    img {
      position: absolute;
      left: -1000%;
      right: -1000%;
      top: -1000%;
      bottom: -1000%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      object-fit: contain;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      @media (max-width: $break-medium) {
        background: rgba(255, 255, 255, 0.3);
      }
      @media (max-width: $break-small) {
        background: rgba(255, 255, 255, 0.5);
      }
    }

    .text-wrapper {
      position: absolute;
      text-align: center;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      width: fit-content;
      padding: 0 20px;

      .button {
        background-color: $primary;
        color: white;
        margin: 40px auto 0 auto;
        width: fit-content;
        padding: 15px 25px;
        @media (max-width: $break-medium) {
          font-size: 16px;
          margin-top: 30px;
        }
        @media (max-width: $break-small) {
          font-size: 14px;
          margin-top: 20px;
          padding: 10px 20px;
        }

        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}

.about-banner {
  .content {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;

    img {
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      object-fit: contain;
    }

    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      @media (max-width: $break-medium) {
        background: rgba(255, 255, 255, 0.3);
      }
      @media (max-width: $break-small) {
        background: rgba(255, 255, 255, 0.5);
      }
    }

    .text-wrapper {
      position: absolute;
      text-align: center;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      width: fit-content;
      padding: 0 20px;
    }
  }
}
